body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.tarja {
  width: 300px;
  height: 100px;
  background: #437ec0;
  transform: rotate(-40deg);
  transform: rotate(-45deg);
  position: fixed;
  top: 40px;
  right: -65;
}