input, a {
    display: block;
}

a[href^="https"] {
    background: blue;
} 

input[required] {
    background: #ff0000;
}

input[type=password] {
    background: #ff0052;
}

a[href*="bbb"] {
    background: #ff0000;  /*O símbolo de asterisco serve para indicar o começo*/
}

a[href$="html"] { /*O símbolo de sifrão serve para indicar o final*/
    background: #123456;
}

