.container {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr) 200px;
  grid-gap: 10px 20px;
}

.item {
  background: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}