.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px 10px;
  background: #ccc;
}

.item {
  background: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.item1 {
  grid-area: 1 / 1 / span 3 / span 2;
}
/*1º grid-row-start
  2º grid-column-start
  3º grid-row-end
  4º grid-column-end
  O grid-area resume essas funções nesta área
  */ 

  .item6 {
    grid-area: 4 / 2 / 6 / 4;
  }