.container {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.item {
  padding: 10px;
  background: #584980;
  color: #fff;
  border-radius: 5px;
}
.item1 {
  background: #302357;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  background: #120538;
  grid-row: 3 / 5;
  grid-column: 1 / 4;
}